<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular Material</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body ng-app="starterApp" layout="column" layout-fill ng-controller="UserController as ul">

    <md-toolbar layout="row" md-scroll-shrink>
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Angular Material</h1>
    </md-toolbar>
    <md-tabs class="md-primary" md-selected="data.selectedIndex">
        <md-tab id="tab1" aria-controls="tab1-content">
            Dashboard
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            Events
        </md-tab>
    </md-tabs>
    <div flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
            <md-list>
                <md-item ng-repeat="it in ul.users">
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                        {{it.name}}
                    </md-button>
                </md-item>
            </md-list>
        </md-sidenav>
        <md-content flex id="content">
            <ng-switch on="data.selectedIndex" class="tabpanel-container">
                <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
                    <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
                    <h2>{{ul.selected.name}}</h2>
                    <p>{{ul.selected.content}}</p>

                    <md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
                        <md-icon md-svg-icon="share"></md-icon>
                    </md-button>
                </div>
                <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">

                </div>
            </ng-switch>
        </md-content>

    </div>

    <script src="lib/angular/angular.js"></script>

    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="lib/angular-material/angular-material.js"></script>

    <script src="js/app.js"></script>

    <script src="js/controllers/usercontroller.js"></script>
    <script src="js/services/userservice.js"></script>


</body>

</html>
